.GooFlow .ico_start_32{width:32px;height:32px;background:url(../images/bpmui/jiediankaishi-32.png) no-repeat}
.GooFlow .ico_end_32{width:32px;height:32px;background:url(../images/bpmui/jiedianjieshu-32.png) no-repeat}
.GooFlow .ico_task_32{width:32px;height:32px;background:url(../images/bpmui/yonghurenwu-32.png) no-repeat}
.GooFlow .ico_decision_32{width:32px;height:32px;background:url(../images/bpmui/tiaojian-32.png) no-repeat}
.GooFlow .ico_state_32{width:32px;height:32px;background:url(../images/bpmui/tongzhizhuangtai-32.png) no-repeat}
.GooFlow .ico_sub-process_32{width:32px;height:32px;background:url(../images/bpmui/ziliucheng-32.png) no-repeat}
.GooFlow .ico_fork_32{width:32px;height:32px;background:url(../images/bpmui/fork-32.png) no-repeat}
.GooFlow .ico_join_32{width:32px;height:32px;background:url(../images/bpmui/join-32.png) no-repeat}
.GooFlow .ico_math_32{width:32px;height:32px;background:url(../images/bpmui/jisuanqi-32.png) no-repeat}
.GooFlow .ico_define_32{width:32px;height:32px;background:url(../images/bpmui/zidingyineirong-32.png) no-repeat}

.GooFlow .ico_cursor_32{width:32px;height:32px;background:url(../images/bpmui/cursor-32.png) no-repeat}
.GooFlow .ico_mutiselect_32{width:32px;height:32px;background:url(../images/bpmui/mutiselect-32.png) no-repeat}
.GooFlow .ico_direct_32{width:32px;height:32px;background:url(../images/bpmui/direct-32.png) no-repeat}

.GooFlow .ico_open_32{width:32px;height:32px;background:url(../images/bpmui/open-32.png) no-repeat}
.GooFlow .ico_new_32{width:32px;height:32px;background:url(../images/bpmui/new-32.png) no-repeat}
.GooFlow .ico_delete_32{width:32px;height:32px;background:url(../images/bpmui/delete-32.png) no-repeat}
.GooFlow .ico_reload_32{width:32px;height:32px;background:url(../images/bpmui/reload-32.png) no-repeat}
.GooFlow .ico_save_32{width:32px;height:32px;background:url(../images/bpmui/save-32.png) no-repeat}
.GooFlow .ico_undo_32{width:32px;height:32px;background:url(../images/bpmui/undo-32.png) no-repeat}
.GooFlow .ico_redo_32{width:32px;height:32px;background:url(../images/bpmui/redo-32.png) no-repeat}

/*16*16*/
.GooFlow .ico_start_16{width:16px;height:16px;background:url(../images/bpmui/jiediankaishi-16.png) no-repeat}
.GooFlow .ico_end_16{width:16px;height:16px;background:url(../images/bpmui/jiedianjieshu-16.png) no-repeat}
.GooFlow .ico_task_16{width:16px;height:16px;background:url(../images/bpmui/yonghurenwu-16.png) no-repeat}
.GooFlow .ico_decision_16{width:16px;height:16px;background:url(../images/bpmui/tiaojian-16.png) no-repeat}
.GooFlow .ico_state_16{width:16px;height:16px;background:url(../images/bpmui/tongzhizhuangtai-16.png) no-repeat}
.GooFlow .ico_sub-process_16{width:16px;height:16px;background:url(../images/bpmui/ziliucheng-16.png) no-repeat}
.GooFlow .ico_fork_16{width:16px;height:16px;background:url(../images/bpmui/fork-16.png) no-repeat}
.GooFlow .ico_join_16{width:16px;height:16px;background:url(../images/bpmui/join-16.png) no-repeat}
.GooFlow .ico_math_16{width:16px;height:16px;background:url(../images/bpmui/jisuanqi-16.png) no-repeat}
.GooFlow .ico_define_16{width:16px;height:16px;background:url(../images/bpmui/zidingyineirong-16.png) no-repeat}

.GooFlow .ico_cursor_16{width:16px;height:16px;background:url(../images/bpmui/cursor-16.png) no-repeat}
.GooFlow .ico_mutiselect_16{width:16px;height:16px;background:url(../images/bpmui/mutiselect-16.png) no-repeat}
.GooFlow .ico_direct_16{width:16px;height:16px;background:url(../images/bpmui/direct-16.png) no-repeat}

.GooFlow .ico_open_16{width:16px;height:16px;background:url(../images/bpmui/open-16.png) no-repeat}
.GooFlow .ico_new_16{width:16px;height:16px;background:url(../images/bpmui/new-16.png) no-repeat}
.GooFlow .ico_delete_16{width:16px;height:16px;background:url(../images/bpmui/delete-16.png) no-repeat}
.GooFlow .ico_reload_16{width:16px;height:16px;background:url(../images/bpmui/reload-16.png) no-repeat}
.GooFlow .ico_save_16{width:16px;height:16px;background:url(../images/bpmui/save-16.png) no-repeat}
.GooFlow .ico_undo_16{width:16px;height:16px;background:url(../images/bpmui/undo-16.png) no-repeat}
.GooFlow .ico_redo_16{width:16px;height:16px;background:url(../images/bpmui/redo-16.png) no-repeat}

/*64*64*/
.GooFlow .ico_start_64{width:64px;height:64px;background:url(../images/bpmui/jiediankaishi-64.png) no-repeat}
.GooFlow .ico_end_64{width:64px;height:64px;background:url(../images/bpmui/jiedianjieshu-64.png) no-repeat}
.GooFlow .ico_task_64{width:64px;height:64px;background:url(../images/bpmui/yonghurenwu-64.png) no-repeat}
.GooFlow .ico_decision_64{width:64px;height:64px;background:url(../images/bpmui/tiaojian-64.png) no-repeat}
.GooFlow .ico_state_64{width:64px;height:64px;background:url(../images/bpmui/tongzhizhuangtai-64.png) no-repeat}
.GooFlow .ico_sub-process_64{width:64px;height:64px;background:url(../images/bpmui/ziliucheng-64.png) no-repeat}
.GooFlow .ico_fork_64{width:64px;height:64px;background:url(../images/bpmui/fork-64.png) no-repeat}
.GooFlow .ico_join_64{width:64px;height:64px;background:url(../images/bpmui/join-64.png) no-repeat}
.GooFlow .ico_math_64{width:64px;height:64px;background:url(../images/bpmui/jisuanqi-64.png) no-repeat}
.GooFlow .ico_define_64{width:64px;height:64px;background:url(../images/bpmui/zidingyineirong-64.png) no-repeat}

.GooFlow .ico_cursor_64{width:64px;height:64px;background:url(../images/bpmui/cursor-64.png) no-repeat}
.GooFlow .ico_mutiselect_64{width:64px;height:64px;background:url(../images/bpmui/mutiselect-64.png) no-repeat}
.GooFlow .ico_direct_64{width:64px;height:64px;background:url(../images/bpmui/direct-64.png) no-repeat}

.GooFlow .ico_open_64{width:64px;height:64px;background:url(../images/bpmui/open-64.png) no-repeat}
.GooFlow .ico_new_64{width:64px;height:64px;background:url(../images/bpmui/new-64.png) no-repeat}
.GooFlow .ico_delete_64{width:64px;height:64px;background:url(../images/bpmui/delete-64.png) no-repeat}
.GooFlow .ico_reload_64{width:64px;height:64px;background:url(../images/bpmui/reload-64.png) no-repeat}
.GooFlow .ico_save_64{width:64px;height:64px;background:url(../images/bpmui/save-64.png) no-repeat}
.GooFlow .ico_undo_64{width:64px;height:64px;background:url(../images/bpmui/undo-64.png) no-repeat}
.GooFlow .ico_redo_64{width:64px;height:64px;background:url(../images/bpmui/redo-64.png) no-repeat}

.table-form{float:left}
.table-tr{float:left;clear:both}
.table-td-label{float:left}
.table-td{float:left}

/* Form Items CSS */
.x-form-item {
    display:block;
    margin-bottom:4px;
    zoom:1;
}

.x-form-item label.x-form-item-label {
    display:block;
    float:left;
    width:100px;
    padding:3px;
    padding-left:0;
    clear:left;
    z-index:2;
}

.x-form-element {
    padding-left:105px;
}

.x-form-invalid-msg {
    padding:2px;
    padding-left:18px;
    background: transparent no-repeat 0 2px;
    line-height:16px;
    width:200px;
}

.x-form-label-left label.x-form-item-label {
   text-align:left;
}

.x-form-label-right label.x-form-item-label {
   text-align:right;
}

.x-form-label-top .x-form-item label.x-form-item-label {
    width:auto;
    float:none;
    clear:none;
    display:inline;
    margin-bottom:4px;
}

.x-form-label-top .x-form-element {
    padding-left:0;
    padding-top:4px;
}

.x-form-label-top .x-form-item {
    padding-bottom:4px;
}
.x-form-clear-left {
    clear:left;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
}
.x-form-check-wrap {
    line-height:18px;
    height: 22px;
}
.x-form-check-wrap input{
    vertical-align: bottom;
}
.x-form-invalid{
	background:repeat-x bottom;
	border: 1px solid;
    background-color:#fff;
	background-image:url(../images/bpmui/default/invalid_line.gif);
	border-color:#c30;
}