.GooFlow .ico_start{background:url(../img/jiediankaishi-32.png) no-repeat}
.GooFlow .ico_end{background:url(../img/jiedianjieshu-32.png) no-repeat}
.GooFlow .ico_task{background:url(../img/yonghurenwu-32.png) no-repeat}
.GooFlow .ico_decision{background:url(../img/tiaojian-32.png) no-repeat}
.GooFlow .ico_state{background:url(../img/tongzhizhuangtai-32.png) no-repeat}
.GooFlow .ico_subProcess{background:url(../img/ziliucheng-32.png) no-repeat}
.GooFlow .ico_fork{background:url(../img/fork-32.png) no-repeat}
.GooFlow .ico_join{background:url(../img/join-32.png) no-repeat}
.GooFlow .ico_math{background:url(../img/jisuanqi-32.png) no-repeat}
.GooFlow .ico_define{background:url(../img/zidingyineirong-32.png) no-repeat}

.GooFlow .ico_cursor{background:url(../img/cursor-32.png) no-repeat}
.GooFlow .ico_mutiselect{background:url(../img/mutiselect-32.png) no-repeat}
.GooFlow .ico_direct{background:url(../img/direct-32.png) no-repeat}

.GooFlow .ico_open{background:url(../img/open-32.png) no-repeat}
.GooFlow .ico_new{background:url(../img/new-32.png) no-repeat}
.GooFlow .ico_delete{background:url(../img/delete-32.png) no-repeat}
.GooFlow .ico_reload{background:url(../img/reload-32.png) no-repeat}
.GooFlow .ico_save{background:url(../img/save-32.png) no-repeat}
.GooFlow .ico_undo{background:url(../img/undo-32.png) no-repeat}
.GooFlow .ico_redo{background:url(../img/redo-32.png) no-repeat}
