/*定义vml元素样式*/
v\:group,v\:rect,v\:imagedata,v\:oval,v\:line,v\:polyline,v\:stroke,v\:textbox { display:inline-block;background:transparent }
/*GooFlow样式*/
.GooFlow{
	background:#F5F5F5;border:#ccc 1px solid;font: 0.8em Microsoft Yahei;
	-moz-user-select:none;-webkit-user-select:none;border-radius:4px;color:#333
}
.GooFlow i{font: 1em}	/*em:相对于当前对象内文本的字体尺寸*/
.GooFlow table{padding:1px;border-radius:2px}
.GooFlow td{ vertical-align:middle;text-align:center;padding:0px;cursor:default;word-wrap:break-word;word-break:break-all}
.GooFlow textarea{position:absolute;border:#3892D3 1px solid;display:none;font: 1em Microsoft Yahei;overflow-y:visible;width:100px;z-index:10001}
.GooFlow .ico{width:18px;cursor:move}


/*顶部栏样式*/
.GooFlow_head{clear:both;height:40px;padding:1px;border-bottom:#00B4E1 2px solid;}
.GooFlow_head label{
	font-weight:bold;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:18px;padding:2px;width:170px;text-align:center;
	background:#00B4E1;float:left;color:#fff;border-radius:3px 0px 0px 0px;overflow:hidden;margin:-1px 4px 0px -1px;
}
.GooFlow_head span{float:left;height:22px;width:0px;overflow:hidden;border-left:#3892D3 1px solid;margin:0px 3px;}
.GooFlow_head_btn{display:block;border:0px;height:32px;width:32px;cursor:default;padding:1px;margin:0px 3px;float:left;outline:none;blr:expression(this.onFocus=this.blur());}
.GooFlow_head_btn i{display:inline-block;overflow:hidden;width:32px;height:32px;border:0px;}
.GooFlow_head_btn:hover{border-radius:2px;background:#FFBF00}
.GooFlow_head_btn:hover i{}

/*侧边栏样式*/
.GooFlow_tool{float:left;padding:0px 3px;overflow:hidden;clear:left;border-right:#ccc 1px solid}
.GooFlow_tool_div{overflow:hidden;border-radius:2px;width:80px;padding:2px}
.GooFlow_tool span{height:0px;overflow:hidden;border-top:#ccc 1px solid;margin:3px 1px;clear:both;display:block;}
.GooFlow_tool_btn{float:left;display:block;border:0px;height:32px;width:32px;cursor:default;padding:2px;margin:3px 1px;outline:none;blr:expression(this.onFocus=this.blur());}
.GooFlow_tool_btn i{display:block;overflow:hidden;width:32px;height:32px;border:0px}
.GooFlow_tool_btn:hover{border-radius:3px;padding:0px;border:#99B1CE 1px solid;width:34px;height:34px;background:#fff}
.GooFlow_tool_btn:hover i{margin:1px;border-radius:2px}
.GooFlow_tool_btndown{
	cursor:default;margin:3px 1px;outline:none;blr:expression(this.onFocus=this.blur());
	border-radius:3px;padding:2px;width:32px;height:32px;background:#FFBF00;display:block;float:left;
}
.GooFlow_tool_btndown i{display:block; ;width:32px;height:32px;border-radius:2px}

/*工作区样式*/
.GooFlow_work{float:right;margin:0px 3px 3px 0px;border:#F5F5F5 1px solid;position:relative;overflow:scroll;}
/* .GooFlow_work .GooFlow_work_inner{background-image:url(../../img/gooflow_blank2.gif);position:relative;overflow:hidden;}*/
.GooFlow_work .GooFlow_work_group{cursor:default;position:absolute;overflow:hidden;top:0px;left:0px}
.GooFlow_work text{color:#fff}
.GooFlow_work .lock .bg{cursor:default;}
.GooFlow_work .lock label{cursor:default;}
.GooFlow_work .area_red .bg{border:1px solid red;background-color:#FF7865}
.GooFlow_work .area_red label{color:red;background:url(../img/gooflow_bullet.png) no-repeat 1px 1px}
.GooFlow_work .area_yellow .bg{border:1px solid #CD925A;background-color:#FFD564}
.GooFlow_work .area_yellow label{color:#FFBA1D;background:url(../img/gooflow_bullet.png) no-repeat 1px -16px}
.GooFlow_work .area_blue .bg{border:1px solid #347BB1;background-color:#549CDE}
.GooFlow_work .area_blue label{color:#347BB1;background:url(../img/gooflow_bullet.png) no-repeat 1px -33px}
.GooFlow_work .area_green .bg{border:1px solid green;background-color:#84CA04}
.GooFlow_work .area_green label{color:green;background:url(../img/gooflow_bullet.png) no-repeat 1px -50px}

/*工作区分组样式*/
.GooFlow_area{cursor:default;position:absolute;overflow:hidden;}
.GooFlow_area .lock{cursor:default;}
.GooFlow_area .bg{cursor:move;filter:Alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3;}
.GooFlow_area label{cursor:text;top:1px;left:1px;position:absolute;display:block;font-size:12px;text-indent:18px;height:18px;line-height:18px}
.GooFlow_area i{display:block;height:18px;widht:18px;top:0px;left:0px;position:absolute;cursor:pointer}


/*工作区svg&vml样式*/
.GooFlow_work svg{display:block;position:absolute}
.GooFlow_work v\:group{position:relative;display:block}
.GooFlow_work v\:group v\:line{overflow:visible}
.GooFlow_work v\:group v\:polyline{overflow:visible}
.GooFlow_work v\:group div{cursor:text;position:absolute;overflow:visible;display:inline;float:left;white-space: nowrap}
.GooFlow_work .draw{color:#ff3300}

/*工作区节点样式*/
.GooFlow_item{
	position:absolute;background:#A1DCEB;border:#A1DCEB solid 1px;
	border-radius:3px;background-color:#C1DCFC;box-shadow:1px 1px 2px rgba(99,99,99,2);
}
.GooFlow .item_round{border-radius:11px;border:#C1DCFC solid 1px;width:22px;height:22px; overflow:visible}
.GooFlow .item_round table{border:0px;padding:2px;width:22px;height:22px}
.GooFlow .item_round .span{
	display:block;text-align:center; position:absolute;top:24px;left:-28px;width:80px;overflow:visible;text-align:center;
	padding:0px;cursor:default;word-wrap: break-word;word-break:break-all
}
.GooFlow .item_mix{background:#B6F700;border-color:#C2DB4E;color:#fff}

.GooFlow div .rs_right{overflow:hidden;position:absolute;right:-1px;top:-1px;height:100%;width:6px;cursor:w-resize}
.GooFlow div .rs_bottom{overflow:hidden;position:absolute;left:-1px;bottom:-1px;width:100%;height:6px;cursor:n-resize}
.GooFlow div .rs_rb{
	position:absolute;right:-1px;bottom:-1px;width:9px;height:9px;overflow:hidden;cursor:nw-resize;background:url(../img/gooflow_tip.png) no-repeat 0px -8px;
}
.GooFlow div .rs_close{
	position:absolute;right:1px;top:1px;width:7px;height:7px;overflow:hidden;cursor:pointer;background:url(../img/gooflow_tip.png) no-repeat 0px 0px
}
.GooFlow .rs_ghost{
	position:absolute;display:none;overflow:hidden;border:#8EA4C1 1px dashed; background:#D9E8FB;
	filter:Alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;z-index:10
}
.GooFlow .item_focus{border:#3892D3 1px solid}
.GooFlow .item_mark{border:#ff3300 1px solid}
.GooFlow .item_mark td{cursor:crosshair}

/*工作区线段样式*/
.GooFlow .GooFlow_line_oper{
	width:70px;height:15px;background-color:#D8E8FC;border:#7DA2CE 1px solid;position:absolute;
	filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:10000;
}
.GooFlow .GooFlow_line_mp{
	width:9px;height:9px;filter:Alpha(Opacity=40);-moz-opacity:0.4;opacity:0.4;overflow:hidden;
	position:absolute;z-index:9999;background:#333;cursor:crosshair
}
.GooFlow .GooFlow_line_move{filter:Alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5;overflow:hidden;position:absolute;z-index:9999;background:url(0) no-repeat}
.GooFlow .GooFlow_line_oper i{display:inline-block;width:15px;height:15px;margin-left:2px;cursor:pointer}

/*自定义字体样式*/
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiediankaishi:before { content: "\e6dd"; }
.icon-jiedianjieshu:before { content: "\e6de"; }
.icon-yonghurenwu:before { content: "\e67c"; }
.icon-juecefenzhijiedian:before { content: "\e613"; }
.icon-tongzhizhuangtai:before { content: "\e66d"; }
.icon-ziliucheng:before { content: "\e64a"; }
.icon-branch:before { content: "\e714"; }
.icon-tiaojian:before { content: "\e614"; }
.icon-gaojiliucheng:before { content: "\e650"; }
.icon-iconjisuanqi:before { content: "\e668"; }
.icon-zidingyineirong:before { content: "\e7ab"; }
.icon-bingxinghuijujiedian:before { content: "\e610"; }
.icon-bingxingfenzhi:before { content: "\e60f"; }
.icon-jisuanqi:before { content: "\e619"; }
.icon-jisuanqi1:before { content: "\e648"; }

/*自定义样式*/

.GooFlow_head i{font: 1em}
.GooFlow_tool .icon{
  font-size: 32px;
  line-height: 32px;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}

/** 重置列表元素 **/
ul, ol { list-style: none;padding-left: 0px; }
li{float:left;width:42}

/** 重置文本格式元素 **/
a { text-decoration: none; }
