
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiediankaishi:before { content: "\e6dd"; }
.icon-jiedianjieshu:before { content: "\e6de"; }
.icon-yonghurenwu:before { content: "\e67c"; }
.icon-juecefenzhijiedian:before { content: "\e613"; }
.icon-tongzhizhuangtai:before { content: "\e66d"; }
.icon-ziliucheng:before { content: "\e64a"; }
.icon-branch:before { content: "\e714"; }
.icon-tiaojian:before { content: "\e614"; }
.icon-gaojiliucheng:before { content: "\e650"; }
.icon-iconjisuanqi:before { content: "\e668"; }
.icon-zidingyineirong:before { content: "\e7ab"; }
.icon-bingxinghuijujiedian:before { content: "\e610"; }
.icon-bingxingfenzhi:before { content: "\e60f"; }
.icon-jisuanqi:before { content: "\e619"; }
.icon-jisuanqi1:before { content: "\e648"; }

.GooFlow_head{clear:both;height:60px;padding:1px;border-bottom:#00B4E1 2px solid;}
.GooFlow_tool_div{overflow:hidden;border-radius:2px;width:100px;padding:2px}
.GooFlow i{width:42px;height:42px;overflow:hidden}
.GooFlow_tool .icon{
  font-size: 42px;
  line-height: 48px;
  margin: 10px 0;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }
